body {
	font-family: 'Roboto', sans-serif;
	color: #333;
	background-color: #eee;
}

div, p {
	color: #000;
	transition: 0.3s;
}

img {
	width: 5em;
	height: 5em;
	border-radius: 2.5em;
	margin: .6em 1em 0 0;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
	transition: 0.3s;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

::-moz-selection {
	color: white; 
	background: #999;
}

::selection {
	color: white; 
	background: #999;
}

.content {
	max-width: 60%;
	margin: 0 auto;
}


.block {
	margin: 1em auto;
}

.block-name {
	text-align: center;
	margin: 0.2em;
}

.intro {
	margin: 130px 0 80px 0;
	text-align: center;
}

.also {
	margin: 35px 0 15px 0;
	text-align: center;
}

.intro > * , .also > * {
	margin-bottom: 10px;
	font-size: 1.8em;
	line-height: 1.8em;
}


.highlight {
	background-color: #333;
	color: #eee;
}
.highlight:hover {
	background-color: #333;
	color: #fff;
}

.display-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.cv-link {
	margin: 0 0.25em;
}

.cv-link:hover {
	text-decoration: none;
}

.expandable {
	transition: 0.3s;
}

.expandable:hover {
	font-size: 1.2em;
}

.blank-square {
	width: 5em;
	border-radius: 0.25em;
	margin: 0;
	text-align: center;
	padding: 2em 0;
	color: #fff;
}

.td {
	margin: 0 1.5em;
}

.td > * {
	margin: 0.35em 0;
}

